#content {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
}

.main-margins {
    padding-right: 10%;
}

#nav-container {
    width: 20%;
    padding-left: 5%;
    margin-right: 5%;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.nav-item {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1.5rem;
    color: black;
    text-decoration: underline;
}

body {
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: black;
}

h3 {
    font-size: 1.65rem;
}


p {
    white-space: pre-line;
}

.studio-name {
    color: darkgray;
}

.embedded-video {
    width: 600px;
    height: 450px;
}

.embedded-image {
    width: auto;
    height: auto;
}

.breaker {
    height: 0px;
    width: 50%;
    border: 2px solid black;
}

.mini-breaker {
    height: 0px;
    width: 50%;
    border: 1px solid black;
}


@media only screen and (max-width: 900px) {
    #content {
        display: flex;
        flex-direction: column;
    }

    .main-margins {
        padding-right: 10%;
        padding-left: 10%;
    }

    #nav-container {
        position: relative;
        width: 100%;
        align-items: center;
        /* transform: translateX(-300px); */
        padding-left: 0px;
        margin-right: 0px;
    }

    .the-nav {
        display: none;
        height: 0%;
        overflow: hidden;
        align-items: center;
    }

    #nav-hed {
        text-decoration: underline;
        cursor: pointer;
    }
}