.main-margins {
    padding-left: 10%;
    padding-right: 10%;
}

body {
    overflow-x: hidden;
    overscroll-behavior: contain;
}

img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges; 
    image-rendering: -o-crisp-edges;
    
    /*image-rendering: -webkit-optimize-contrast;*/
}

body {
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: black;
}

p {
    white-space: pre-line;
}
