/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    display: none;
}

/*limit width */
#pageContainer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: visible;
    position: relative;
}

/*prevent horizontal scrolling*/
body {
    overflow-x: hidden;
    overscroll-behavior: contain;
    /*scroll-behavior: ;*/
    /*scrollbar-width: none;*/
    /*-ms-overflow-style: none; */
    /*scrollbar-width: none;*/
}

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; 
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #333;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(132, 173, 249);
}

#header,
#main
{
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
}

#header h1
{
  margin: 0;
  position: absolute;
  color: transparent;
}

#header h1 a
{
  display: block;
  position: absolute;
  height: 56vw; 
  width: 80rem;
  top: -74vw;
  z-index: 1000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    margin-top: 0rem;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    margin-left: 0rem;
}

footer {
    text-align: center;
    margin-top:0rem;
    padding: 1rem;
    background-color: rgb(31, 31, 31);
}

/*Parallex*/
#parallaxWrapper {
    position: relative;
    width: 100%;
    overflow: visible;
}

.parallaxLayer {
  position:relative;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  overflow: visible;
}

/* layer 01 */
#layer01 {
  display: block;
}

.image-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center; 
}

.styled-image {
    width: 100%;
    height: auto; 
}

#rainbow {
    position: relative;
    z-index: -1;
    width: 200%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.center-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    /*text-align: center;*/
    overflow: visible;
}

#about, #features {
  margin-bottom: 20px;
  padding: 20px;
}

.hidden {
  position: absolute;
  left: -9999px; 
}

#body,


@keyframes pulse
{
  from { opacity: 1; }
  50% { opacity: 0.35; }
  to { opacity: 1; }
}

/* layer02 */
#tower {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: 0vw;
  overflow-x: hidden;
}

#screenshots {
  position: relative;
  z-index: -1;
  align-items: center;
}

/* layer03 */
#botcloud {
  z-index: 1;
  width: 100%;
  height: auto;
  margin: 0;
  overflow-x: hidden;
}