/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #333;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 20px; */
}

header {
    background-color: #f4f4f4;
    padding: 10rem;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    margin-top: 0rem;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    margin-left: 0rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f4f4f4;
}

/*added by Ally*/
#trailer,
#body,
#screenshots
{
  margin: 3rem auto;
}


.hidden
{
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
}

#trailer
{
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  /*changed from 100vw to 50vw*/
  width: 50vw;
  height: 56.25vw;
  max-height: 25.7rem;
  max-width: 80rem;
  transition: 350ms transform ease;
  transition-property: transform, filter;
  cursor: pointer;
  }

#trailer iframe
{
  transition: 1000ms all ease;
  border-radius: 0.6rem;
  border: .25rem solid #000;
  padding: 0.5rem;
  background: #fff;
  overflow: hidden;
  object-fit: fill;
}

#trailer.poster iframe
{
  opacity: 0;
}

#trailer.poster,
#trailer.loading
{
  background-image: url("/img/poster\ placeholder.png");
}

#trailer.loading
{
  animation-name: pulse;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}

#trailer.playing
{
  animation-name: none;
}

@keyframes pulse
{
  from { opacity: 1; }
  50% { opacity: 0.35; }
  to { opacity: 1; }
}

#trailer.playing iframe
{
  opacity: 1;
}

#trailer:hover
{
  transform: translateY(-0.25rem) scale(1.005);
  filter: drop-shadow(0 0.25rem 1rem rgba(122,34,89,0.25));
}